.button3 {
    box-sizing: border-box; /* ボックスモデルの設定 */
    position: absolute; /* 絶対位置 */
    width: 600px; /* 幅 */
    height: 80px; /* 高さ */
    left: 50%; /* 左位置 */
    transform: translateX(-50%); /* 中央揃えのために左位置を調整 */
    top: 80%;
        
    background: #ADFF2F; /* 背景色 */
    border: 1px solid #000000; /* ボーダー */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* 影 */
    border-radius: 10px; /* 角丸 */
        
    color: black; /* テキストの色 */
    font-size: 60px; /* フォントサイズ */
    font-weight: bold; /* 太字に設定 */
    cursor: pointer; /* カーソルをポインタに */
    display: flex; /* フレックスボックスで中央揃え */
    align-items: center; /* 垂直方向中央揃え */
    justify-content: center; /* 水平方向中央揃え */
}

/* Rectangle 3 */
/*
box-sizing: border-box;

position: absolute;
width: 518px;
height: 115px;
left: 458px;
top: 839px;

background: #ADFF2F;
border: 1px solid #000000;
border-radius: 10px;
*/