.button4 {
    box-sizing: border-box; /* ボックスモデルの設定 */
    position: absolute; /* 絶対位置 */
    width: 50vh; /* 幅 */
    height: 10vh; /* 高さ */
    left: 55%; /* 左位置 */
    top: 70vh;
        
    background: #1E90FF; /* 背景色 */
    border: 1px solid #000000; /* ボーダー */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* 影 */
    border-radius: 10px; /* 角丸 */
        
    color: black; /* テキストの色 */
    font-size: 3vw; /* フォントサイズ */
    font-weight: bold; /* 太字に設定 */
    cursor: pointer; /* カーソルをポインタに */
    display: flex; /* フレックスボックスで中央揃え */
    align-items: center; /* 垂直方向中央揃え */
    justify-content: center; /* 水平方向中央揃え */
}

/* Rectangle 4 */
/*
box-sizing: border-box;

position: absolute;
width: 518px;
height: 115px;
left: 458px;
top: 879px;

background: #1E90FF;
border: 1px solid #000000;
filter: blur(2px);
border-radius: 10px;
*/